p {
  font-size: 20px;
}
img {
  vertical-align: bottom;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

section.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .top-logo {
    margin-left: 20px;
  }
  .top-items {
    display: grid;
    // width: 20%;
    // 筆記： 如果grid設定20%，將會突出父層空間
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 20px;
    p {
      margin: auto;
    }
  }
}
.welcome {
  display: flex;
  height: 250px;
  background-color: rgb(198, 214, 228);
  p {
    margin: auto;
    font-size: 40px;
  }
  margin-bottom: 20px;
}
section.bottom-wrapper {
  margin: auto;
}
.pic-top-container {
  display: grid;
  gap: 20px;
  justify-content: center;
  .promotion-item {
    display: flex;
    background-color: rgb(198, 214, 228);
    img {
      display: block;
      width: 80px;
      height: 50px;
      object-fit: cover;
    }
    p {
      margin-left: 20px;
      align-self: center;
    }
  }
}

.pic-bottom-container {
  width: 100%;
  margin-top: 20px;
  display: grid;
  gap: 20px;
  .title-item {
    // position: relative;
    background-color: rgb(198, 214, 228);
    img {
      width: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
    }
    p {
      text-align: center;
      margin-block: auto;
      padding-block: 10px;
    }
  }
}
.title-item {
  // position: relative;
  width: 100%;
  img {
    display: block;
    vertical-align: bottom;
    width: 100%;
  }
}

.loadMore {
  margin: 20px auto 20px auto;
  width: 150px;
  height: 50px;
}
@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
  section.bottom-wrapper {
    width: 1200px;
    margin: auto;
  }
  .pic-top-container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .pic-bottom-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .hamburger {
    display: none;
  }
  section.bottom-wrapper {
    width: 90%;
    margin: auto;
  }
  .pic-top-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .promotion-item:last-child {
      grid-column: 1/ -1;
    }
  }
  .pic-bottom-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  .hamburger {
    margin-right: 5px;
    display: block;
    img {
      width: 30px;
      height: 30px;
    }
  }

  section.nav-container {
    div.top-items {
      display: none;
      width: 50vw;
      height: 100vh;
      position: absolute;
      background-color: white;
      top: 0;
      right: -50vw;
      border-radius: 5px;
      transform: translateX(-50vw);
      transform: 0.5s;
      box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.5);
      z-index: 10;

      p {
        padding: 10px;
        text-align: center;
      }
    }
  }

  section.welcome {
    p {
      font-size: 20px;
    }
  }
  section.bottom-wrapper {
    width: 90%;
    margin: auto;
  }
  .pic-top-container {
    display: flex;
    flex-direction: column;
  }
  .pic-bottom-container {
    grid-template-rows: repeat(1, 1fr);
  }
}
.no-scroll {
  overflow: hidden !important;
}
